<app-header [currentMode]="currentMode" />

<main>
  <section>
    <app-chat-header
      [currentModel]="currentModel"
      [modelLoading]="modelLoading()"
      [currentMode]="currentMode"
    />

    @for (message of messages(); track $index) {
      <app-message-bubble [message]="message.content" [role]="message.role" [type]="message.type" />
    }

    @if (isThinking()) {
      @defer (on timer(500ms)) {
        <app-message-bubble message="Thinking..." role="assistant" type="thinking" />
      }
    }
  </section>

  <app-chat-input [isDisabled]="!isAiReady() || isThinking()" (send)="sendMessage($event)" />
</main>

<app-footer />
